/* src/components/css_files/RegisterPage.css */

/* Add Google Fonts link */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(120deg, #140c16 0%, #751321 100%);
  font-family: 'Roboto', sans-serif;
  animation: riseUp 1s ease-out;
}

@keyframes riseUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.form-box {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 30px; /* Rounded corners */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 100%;
  max-width: 400px; /* Ensure the form doesn't get too wide */
}

.form-box h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.form-box form {
  display: flex;
  flex-direction: column; /* Arrange children in a vertical column */
  align-items: center; /* Center align children horizontally */
}

.input-field {
  margin-bottom: 20px;
  padding: 15px;
  width: 100%; /* Make input fields take up full width of their container */
  border: 1px solid #ddd;
  border-radius: 25px; /* Rounded corners */
  outline: none;
  transition: border 0.3s;
}

.input-field:focus {
  border: 1px solid #f093fb;
}

.register-button {
  padding: 15px 30px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 25px; /* Rounded corners */
  cursor: pointer;
  transition: background-color 0.3s;
}

.register-button:hover {
  background-color: #f093fb;
}

.error-message {
  color: red;
  margin-top: 20px;
}
